#container {
	padding: 0px 20px 0px 20px;
}

#note {
	font-style: italic;
	font-size: 12px;
}

#list {
	padding-bottom: 20px;
}

#label {
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
	width: 70px;
}

#value {
	display: inline-block;
	text-align: right;
}

#button {
	margin-right: 10px;
	width: 75px;
	background-color: #64b5f6;
	color: white;
	font-size: 14px;
	border-color: #64b5f6;
}

#button:hover {
	background-color: #2286c3;
	border-color: #2286c3;
}