/backend-old/node_modules/
/target/
/frontend/logs/*
/frontend/node_modules/

dist/bugzilla-live-backend
dist/bugzilla-live.jar
.idea/.gitignore
.idea/bugzilla-live.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
node_modules
