.AddBugInput {
	text-align: center;
	align-items: center;
	padding-bottom: 25px;
	margin-top: 20px;
}

.AddBugInput input {
	height: 25px;
	width: 150px;
	font-size: 15px;
}

.AddBugInput button {
	height: 30px;
	width: 100px;
	background-color: #64b5f6;
	color: white;
	font-size: 16px;
	border-color: #64b5f6;
}