@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'), url(./fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

body {
	font-family: "OpenSans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "OpenSans", sans-serif;
}