#informationPane {
	width: 15%;
	background-color: #3E7BFF;
}

#header {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
}

#informationPaneList {
	color: white;
	list-style-type: none;
	padding: 15px;
	font-size: 18px;
	font-style: italic;
}